body{
  font-family: Arial, sans-serif;
  color: #47a3da;
}

.text {
  background-color: #47a3da;
  color: white;
}

.fa fa-mobile {
  display: inline-block;
  width: 200px;
  height: 100px;
  margin; 1em;
}

ul{
    list-style-type: none;
}
