*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background: #01295F;
  color: #fff;
  font: normal 16px/1.5 "Helvetica Neue", sans-serif;
  padding-bottom: 50px;
  overflow-x: hidden; }

.intro {
  background: #7EE8FA;
  padding: 80px 0;
  margin-bottom: 3em; }

.container {
  margin: 0 auto;
  text-align: center;
  width: 90%;
  max-width: 1200px; }
  .container h1 {
    font-size: 5rem; }

.folds ul li {
  position: relative;
  margin: 0 auto;
  background: #fff;
  padding-top: 50px;
  list-style-type: none;
  width: 4px; }
  .folds ul li:after {
    position: absolute;
    left: 50%;
    bottom: 15px;
    content: '';
    background: #fff;
    transition: background .5s ease-in-out;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transform: translateX(-50%); }
  .folds ul li div {
    position: relative;
    bottom: 0;
    background: #FFD166;
    width: 375px;
    padding: 15px;
    border-radius: 12px;
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease-in-out; }
    .folds ul li div h2, .folds ul li div p {
      color: #01295F;
      text-align: center; }
    .folds ul li div img {
      margin-left: 73px; }
    .folds ul li div:before {
      position: absolute;
      bottom: 7px;
      content: '';
      border-style: solid;
      width: 0;
      height: 0; }
  .folds ul li:nth-child(odd) div {
    left: 50px;
    transform: translate3d(200px, 0, 0); }
    .folds ul li:nth-child(odd) div:before {
      left: -15px;
      border-width: 25px 16px 25px 0;
      border-color: transparent #FFD166 transparent transparent; }
  .folds ul li:nth-child(even) div {
    left: -430px;
    transform: translate3d(-200px, 0, 0); }
    .folds ul li:nth-child(even) div:before {
      right: -15px;
      border-width: 25px 0 25px 16px;
      border-color: transparent transparent transparent #FFD166; }
  .folds ul li.in-view div {
    transform: none;
    visibility: visible;
    opacity: 1; }
  .folds ul li.in-view:after {
    background: #FFF; }

@media screen and (max-width: 900px) {
  .folds ul li div {
    width: 250px; }
    .folds ul li div img {
      margin-left: 10px; }
  .folds ul li:nth-child(even) div {
    left: -289px; } }

@media screen and (max-width: 600px) {
  .folds ul li {
    margin-left: 20px; }
  .folds ul li div {
    width: calc(100vw - 91px); }
    .folds ul li div img {
      margin-left: calc(50vw - 150px); }
  .folds ul li:nth-child(even) div {
    left: 45px; }
  .folds ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 25px 16px 25px 0;
    border-color: transparent #FFD166 transparent transparent; } }